/* body{
    background-color: #f4f5f6;
}
header{
    display: flex;
}
nav{
    background-color: red;
}
}
.right-top-nav{
    float: left;
} */

.gridimg{
    width: 295px;
    height: 292px;
}
.gridimage{
    width: 293px;
    height: 389px;
}
.grid-dissent{
    width: 291px;
    height: 321px;
}
.nav-red-mid svg {
    width: 240px;
    height: 40px;
    fill: #f72210;
  }
  .footer{
      width: 1250px;
      margin: 0 auto;
  }